<div class="container-fluid">
    <h2>Update</h2>
    <form #updateForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Title</label>
                <input required  name="title" [(ngModel)]="title" [class.is-invalid]="titleTRV.invalid && titleTRV.touched" #titleTRV="ngModel" ngModel type="text" class="form-control">
                <small class="text-danger" [class.d-none]="titleTRV.valid || titleTRV.untouched">Book title is required</small>
            </div>

            <div class="form-group col-md-6">
                <label>Author</label>
                <input required name="author" [(ngModel)]=author  ngModel [class.is-invalid]="authorTRV.invalid && authorTRV.touched" type="text" #authorTRV="ngModel" class="form-control" placeholder="Enter Author" >
                <small class="text-danger" [class.d-none]="authorTRV.valid || authorTRV.untouched">Book author is required</small>
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input required  name="description" [(ngModel)]="description" [class.is-invalid]="descriptionTRV.invalid && descriptionTRV.touched" #descriptionTRV="ngModel" ngModel type="text" class="form-control">
            <small class="text-danger" [class.d-none]="descriptionTRV.valid || descriptionTRV.untouched">Book description is required</small>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>ISBN</label>
                <input required  name="isbn" [(ngModel)]="isbn" [class.is-invalid]="isbnTRV.invalid && isbnTRV.touched" ngModel #isbnTRV="ngModel" type="text" class="form-control">
                <small class="text-danger" [class.d-none]="isbnTRV.valid || isbnTRV.untouched">Book ISBN is required</small>
            </div>

            <div class="form-group col-md-6">
                <label>Price</label>
                <input required  name="price" [(ngModel)]="price" [class.is-invalid]="priceTRV.invalid && priceTRV.touched" #priceTRV="ngModel" ngModel type="number" class="form-control">
                <small class="text-danger" [class.d-none]="priceTRV.valid || priceTRV.untouched">Book price is required</small>
            </div>
        </div>
        
        <button [disabled]="updateForm.form.invalid" type="submit" class="btn btn-success mb-2" (click)="onSubmit()">Update</button>
        <button type="submit" class="btn btn-info mb-2 ml-3" (click)="onGoBack()">Add Books</button>

    </form>
</div>    

<app-display-book></app-display-book>