<div class="container-fluid">
  <h3 class="text-center">Book Details</h3>
  <table class="table table-dark mt-4">
    <thead>
      <tr>
        <th scope="col" *ngFor="let heading of tableHeadings">{{ heading }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of bookData; index as i">
        <th scope="row">{{ i }}</th>
        <td>{{ data.title }}</td>
        <td>{{ data.author }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.isbn }}</td>
        <td>{{ data.price }}</td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
        <td><button type="button" class="btn btn-success" (click)="onEdit(i)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>  

