<div class="container-fluid">
  <h3>Add Book</h3>
  <form #book="ngForm" (ngSubmit)="onSubmit(book.value)">
      
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Book Title</label>
            <input required  name="title" ngModel type="text" #title="ngModel" [class.is-invalid]="title.invalid && title.touched" class="form-control" placeholder="Enter Title">
            <small class="text-danger" [class.d-none]="title.valid || title.untouched">Book title is required</small>
        </div>

        <div class="form-group col-md-6">
            <label>Author</label>
            <input required name="author" ngModel [class.is-invalid]="author.invalid && author.touched" type="text" #author="ngModel" class="form-control" placeholder="Enter Author" >
            <small class="text-danger" [class.d-none]="author.valid || author.untouched">Book author is required</small>
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input required  name="description" ngModel [class.is-invalid]="description.invalid && description.touched" type="text" #description="ngModel"  class="form-control" placeholder="Enter Description" >
        <small class="text-danger" [class.d-none]="description.valid || description.untouched">Book description is required</small>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">      
            <label>ISBN</label>
            <input required  name="isbn" ngModel [class.is-invalid]="isbn.invalid && isbn.touched" type="text" #isbn="ngModel"  class="form-control" placeholder="Enter ISBN" >
            <small class="text-danger" [class.d-none]="isbn.valid || isbn.untouched">Book ISBN is required</small>
        </div>

        <div class="form-group col-md-6">
            <label>Price</label>
            <input required  name="price" ngModel [class.is-invalid]="price.invalid && price.touched" type="number" #price="ngModel"  class="form-control" placeholder="Enter Price" >
            <small class="text-danger" [class.d-none]="price.valid || price.untouched">Book price is required</small>
        </div>  
    </div>

    <button [disabled]="book.form.invalid" type="submit" class="btn btn-primary">Add Book</button>

  </form>
</div>
<hr>
<app-display-book></app-display-book>